<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title TwitSweep
		link(href="css/bootstrap.min.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")
	body
		.container
			.row
				h1.app-heading.text-center TwitSweep
			.row
				.username-input-container.text-center
					input(type="text", placeholder="Your username...")
					button Sweep Me!


			.row
				.box.muted.col-sm-6.text-center
					h2 Muted
					each profile in muted
						.profile-container.text-center
							img(src="#{profile.img}", alt="#{profile.username}")
							p #{profile.username}
							button.mute-toggle Unmute
								i.material-icons mic
							button.block-toggle Block
								i.material-icons block
				.box.blocked.col-sm-6.text-center
					h2 Blocked
					each profile in blocked
						.profile-container.text-center
							img(src="#{profile.img}", alt="#{profile.username}")
							p #{profile.username}
							button.mute-toggle Mute
								i.material-icons mic off
							button.block-toggle Unblock
								i.material-icons check_circle
	script(src="js/jquery.min.js")
	script(src="js/script.js")